$colorMainBlue: #095784dd;
$colorMainRed: #cc121288;
$colorMainWhite: #ffffffdd;

$menuVerticalLayout: "top";
$menuHorisontalLayout: "right";
$nemuElementSize: 5vw;
$menuScaleRatio: 2.7;


$menuAnimationTime: 500ms;
$footerAnimationTime: 500ms;
$contactAnimationTime: 500ms;


$nemuElementHeight: 3vw;
$menuBgColor: #ffffffdd;
$headerBorderColor: #ccc;

$contactHeight: 22vw;


