$colorMainBlue: #095784dd;
$colorMainRed: #cc121288;
$colorMainWhite: #ffffffdd;

$menuVerticalLayout: "top";
$menuHorisontalLayout: "left";
$nemuElementSize: 5vw;
$menuScaleRatio: 2.7;
$menuAnimationTime: 500ms;


$nemuElementHeight: 3vw;
$menuBgColor: rgba(255, 255, 255, 0.3);
$headerBorderColor: #ccc;


